/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 12pt;
}

body {
    background-color: ghostwhite;
}

main {
    margin-top: 0px;
}

.game-container {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#game-canvas {
    max-width: 100%;
    max-height: 100%;
}

canvas {
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
    box-sizing: content-box;
}
